/* Cards */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #ddd;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
}
