.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

.modal_open {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background: white;
  padding: 32px 50px;
  width: 730px;
  height: 408px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  position: relative;
  text-align: left;
  gap: 32px;
}

.modal__close-button {
  /* position: absolute;
  top: 16px;
  right: 16px;
  align-self: end; */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.modal__title {
  font-size: 24px;
  margin-bottom: 16px;
}

.modal__edit-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.modal__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal__form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 630px;
}

.modal__form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.modal__submit-button:hover {
  background-color: #0056b3;
}
