.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__new-post-btn {
  margin-left: auto;
  margin-top: auto;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  line-height: 1;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.profile__add-btn-icon {
  width: 12px;
  height: 12px;
}

.profile__avatar-container {
  position: relative;
  width: 190px;
  height: 190px;
  margin-right: 20px;
}

.profile__avatar {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.profile__avatar-edit-button {
  position: absolute;
  inset: 0;
  border: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.6) url("../images/pencil.svg") center no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: url("../images/pencil.svg") 16 16, pointer;
  pointer-events: none;
}

.profile__avatar-container:hover .profile__avatar-edit-button {
  opacity: 1;
  pointer-events: auto;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__edit-btn {
  margin-right: auto;
  margin-top: auto;
  background: none;
  border: none;
  opacity: 0.7;
  color: #212121;
  font-size: 16px;
  line-height: 1;
  padding: 0;
  gap: 8px;
  display: flex;
  justify-content: start;
  cursor: pointer;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  opacity: 0.7;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__new-post-btn:hover {
  opacity: 0.8;
}

.profile__edit-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-container {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__avatar {
    width: 100%;
    height: 100%;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__new-post-btn {
    margin: 0;
    width: 100%;
    border: none;
  }

  .profile__edit-btn {
    margin: 0 auto;
  }
}
